@font-face {
    font-family: Norse-bold;
    src: url(Norse-Bold.otf);
}
:root {
    --border-radius: 5px ;
    --gray-card-color: hsl(325, 100%, 94%);
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
}

#img-container {
    position: relative;
    z-index: 0;
    background-image: url(background-img.jpeg);
    background-position: top ;
    width: 25%;
    height: 100vh;
}

#login-container {
    width: 75%;
    height: 100vh;
}

/* --- IMAGE SECTION --- */

#backdrop-img {
    position: absolute;
}

span {
    display: flex;
    position: relative;
    top: 30%;
    background-color: rgba(0, 0, 0, 0.364);
    padding: 20px;
    font-family: Norse-bold;
    height: 10%;
    width: 100%;

    color: white;
}

img {
    max-width: 20%;
    margin-left:10%;
    bottom: 5%;
}

span > p {
    font-size: 5.5rem;
    margin: 0;
    margin-left: 33%;
}



/* --- TOP SECTION --- */

#top-section {
    display: flex;
    flex-direction: column-reverse;
    padding: 5%;
    padding-right: 15%;
    height: 25%;
    background-color: var(--gray-card-color);
    position: relative;
    z-index: 3;
}

#top-section > h3 {
    font-size: clamp(1rem, 2vw, 1.5rem);
}


/* --- FORM SECTION --- */

#form-section {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 5%;
    height: 40%;
    background-color: white;
    box-shadow: 6px 1px 0.3rem 0.3rem rgba(0, 0, 0, 0.276);
    z-index: 2;
}

    #form-section > h3 {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

        fieldset {
            display: flex;
            flex-direction: column;
            padding: 0;
            width: 30%;
            gap: 1.2rem;
            margin-right: 10%;
            flex-shrink: 1;
            border: none;
        }

            input {
                display: block;
                width: 100%;
                height: 60%;
                border-radius: var(--border-radius);
                border: solid black 1px;
            }

/* --- BOTTOM SECTION --- */

#bottom-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    z-index: 1;
    height: 35%;
    padding-left: 10%;
    padding-top: 3%;
    background-color: var(--gray-card-color);
}

button {
    font-size: clamp(0.5rem, 100%, 20px );
    color: white;
    background-color:rgba(64,44,112,255);
    border: none;
    border-radius: var(--border-radius);
    padding: min(1vw, 90%);
    width: max(150px,23%);
    height: max(74px, fit-content);
    transition: 0.5s;
}


button:hover {
    box-shadow: 0px 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.276);;
}

h4 {
    font-size:1rem;
}


